.ourtoast {
  margin: 0.5em;
  min-width: 320px;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  animation: slideIn 0.3s ease;
}

.success {
  background-color: rgb(37, 164, 37, 0.8);
}

.error {
  background-color: rgba(220, 20, 60, 0.8);
}

.ourtoast p {
  margin: 0;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}